services/Geoserver/StatisticsStore/src/wsdl/localhost_30355/services/SOAPService.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProviderDataContracts.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ProviderDataContracts.Filters"><xs:import schemaLocation="http://localhost:30355/services/SOAPService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:complexType name="ArrayOfDimensionFilter"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="DimensionFilter" nillable="true" type="tns:DimensionFilter"/></xs:sequence></xs:complexType><xs:element name="ArrayOfDimensionFilter" nillable="true" type="tns:ArrayOfDimensionFilter"/><xs:complexType name="DimensionFilter"><xs:sequence><xs:element minOccurs="0" name="ServerContextData" nillable="true" type="xs:anyType"><xs:annotation><xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo></xs:annotation></xs:element><xs:element minOccurs="0" name="attributes" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><xs:annotation><xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo></xs:annotation></xs:element><xs:element minOccurs="0" name="dimensionId" nillable="true" type="xs:string"><xs:annotation><xs:appinfo><DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo></xs:annotation></xs:element></xs:sequence></xs:complexType><xs:element name="DimensionFilter" nillable="true" type="tns:DimensionFilter"/></xs:schema>